body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(135deg, #0074c6, #f49c23);
}

h1 {
    text-align: center;
    color:  #f9f9f9;
}

.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.question {
    margin-bottom: 20px;
}

.question h3 {
    font-size: 18px;
}

.question label {
    display: block;
    margin-bottom: 5px;
}

button {
    background-color: #FF6600;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #FF4500;
}

.result {
    text-align: center;
    margin-top: 20px;
}

.correct-answer {
    color: green;
}

.incorrect-answer {
    color: red;
}
/* Header Styles */
header {
  background: linear-gradient(135deg, #0074c6, #f49c23);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #0074c6, #f49c23);
  }
  
  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .nav__logo--container {
    display: flex;
    align-items: center;
  }
  
  .logo__container {
    margin-right: 10px;
  }
  
  .logo {
    width: 40px;
    height: 40px;
  }
  
  .nav__logo--text {
    color: #f4f4f4;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  nav {
    flex-grow: 1;
  }
  
  .nav__links {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  .nav__item {
    margin: 0 10px;
  }
  
  .nav__link {
    text-decoration: none;
    color: #f4f4f4;
    font-weight: bold;
  }
  
  .nav__link:hover {
    color: #f4f4f4;
  }
  

/* Welcome Section */
.dashboard h1 {
    text-align: center;
    font-size: 42px;
    color: white;
    margin-top: 40px;
    font-family: 'Fredoka One', cursive;
}

.dashboard p {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
}

/* Unique Code Section */
.unique-code {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    width: 50%;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: bounce 2s infinite;
}

.unique-code h2 {
    font-size: 26px;
    color: #0074c6;
}

.unique-code .code {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #0074c6;
}

